
#seslichrome_dicContent {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    background-color: #f5f6f5;
    border: 1px solid;
    border-color: #bbb #bbb #a8a8a8;
    padding: 16px;
    position: absolute;
    z-index: 9558611111452 !important;
    font-family: arial, sans-serif;
    color: #000;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 1.4;
    text-align: left;
    font-size: 16px;
    width: 350px;
    height: 220px;
    overflow-y: scroll;
}

#seslichrome_dicContent a {
    float: none;
    margin: 0;
}

#seslichrome_dicIcon {
    width: 30px;
    height: auto;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

#seslichrome_dicRec {
    z-index: 95558913241;
    position: absolute;
    display: none;
}

#seslichrome_close {
    outline: 0;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
    opacity: 0.8;
    font-size: 16px;
    padding: 4px;
}

#seslichrome_word {
    clear: both;
    font-size: 17px;
    font-weight: 100;
    line-height: 27px;
    background: #a8a8a8;
    color: #fff;
    padding: 4px 8px;
    display: inline;
    float: left;
    margin-right: 20px;
}

#seslichrome_more {
    vertical-align: middle;
    float: right;
    color: #acacac;
}

#seslichrome_dicContent ul {
    list-style: none;
    -webkit-padding-start: 0px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

#seslichrome_dicContent hr {
    clear: both;
    border: 0;
    height: 1px;
    background: #999;
    margin: 14px 0;
    padding: 0;

}

#seslichrome_dicContent li {
    display: inline;
    padding-right: 10px;
    cursor: pointer;
}

.seslichrome_tr span {
    font-size: 17px;
    font-family: bold;
    color: #555555;
}

.seslichrome-bubble-arrow {
    position: absolute
}

.seslichrome-bubble-arrow .seslichrome-bubble-arrowimplbefore, .seslichrome-bubble-arrow .seslichrome-bubble-arrowimplafter {
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

.seslichrome-bubble-arrow .seslichrome-bubble-arrowimplbefore {
    border: 9px solid
}

.seslichrome-bubble-arrow .seslichrome-bubble-arrowimplafter {
    border: 8px solid
}

.seslichrome-bubble-arrowdown {
    bottom: 0
}

.seslichrome-bubble-arrowup {
    top: -9px
}

.seslichrome-bubble-arrowleft {
    left: -9px
}

.seslichrome-bubble-arrowright {
    right: 0
}

.seslichrome-bubble-arrowdown .seslichrome-bubble-arrowimplbefore, .seslichrome-bubble-arrowup .seslichrome-bubble-arrowimplbefore {
    border-color: #bbb transparent;
    left: -9px
}

.seslichrome-bubble-arrowdown .seslichrome-bubble-arrowimplbefore {
    border-color: #a8a8a8 transparent
}

.seslichrome-bubble-arrowdown .seslichrome-bubble-arrowimplafter, .seslichrome-bubble-arrowup .seslichrome-bubble-arrowimplafter {
    /*border-color: #fff transparent;*/
    border-color: rgb(245, 246, 245) transparent;
    left: -8px
}

.seslichrome-bubble-arrowdown .seslichrome-bubble-arrowimplbefore {
    border-bottom-width: 0
}

.seslichrome-bubble-arrowdown .seslichrome-bubble-arrowimplafter {
    border-bottom-width: 0
}

.seslichrome-bubble-arrowup .seslichrome-bubble-arrowimplbefore {
    border-top-width: 0
}

.seslichrome-bubble-arrowup .seslichrome-bubble-arrowimplafter {
    border-top-width: 0;
    top: 1px
}

.seslichrome-bubble-arrowleft .seslichrome-bubble-arrowimplbefore, .seslichrome-bubble-arrowright .seslichrome-bubble-arrowimplbefore {
    border-color: transparent #bbb;
    top: -9px
}

.seslichrome-bubble-arrowleft .seslichrome-bubble-arrowimplafter, .seslichrome-bubble-arrowright .seslichrome-bubble-arrowimplafter {
    border-color: transparent #fff;
    top: -8px
}

.seslichrome-bubble-arrowleft .seslichrome-bubble-arrowimplbefore {
    border-left-width: 0
}

.seslichrome-bubble-arrowleft .seslichrome-bubble-arrowimplafter {
    border-left-width: 0;
    left: 1px
}

.seslichrome-bubble-arrowright .seslichrome-bubble-arrowimplbefore {
    border-right-width: 0
}

.seslichrome-bubble-arrowright .seslichrome-bubble-arrowimplafter {
    border-right-width: 0
}

#seslichrome_audio {
    display: table-column;
    float: left;
}

#seslichrome_toTur, #seslichrome_toEn {
    margin: 15px 0px;
}

#seslichrome_toTurContent, #seslichrome_toEnContent {
    margin: 5px 0px;
    font-size: 16px !important;
    overflow-y: scroll;
}

.seslichrome-pronunciation-audio {
    width: 53px;
    height: 26px;
    display: inline;
}

.seslichrome-logo {
    width: 90px;
    height: 28px;
    display: inline;
    vertical-align: middle;
}

.flipswitch {
    position: relative;
    width: 68px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.flipswitch input[type=checkbox] {
    display: none;
}

.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 50px;
}

.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 11px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.flipswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: #256799;
    color: #FFFFFF;
}

.flipswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}

.flipswitch-switch {
    width: 29px;
    margin: -3.5px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 41px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}
